In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [8]:
df.to_csv('yellow_tripdata_2021-01.csv')

In [9]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             100 non-null    int64
 1   VendorID               100 non-null    int64
 2   tpep_pickup_datetime   100 non-null    object
 3   tpep_dropoff_datetime  100 non-null    object
 4   passenger_count        100 non-null    float64
 5   trip_distance          100 non-null    float64
 6   RatecodeID             100 non-null    float64
 7   store_and_fwd_flag     100 non-null    object
 8   PULocationID           100 non-null    int64
 9   DOLocationID           100 non-null    int64
 10  payment_type           100 non-null    int64
 11  fare_amount            100 non-null    float64
 12  extra                  100 non-null    float64
 13  mta_tax                100 non-null    float64
 14  tip_amount             100 non-null    float64
 15  tolls_amount           100 non-null    float64
 16  improvement_surcharge  100 non-null    float64
 17  total_amount           100 non-null    float64
 18  congestion_surcharge   100 non-null    float64
 19  airport_fee            0 non-null      float64
dtypes: float64(12), int64(5), object(3)
memory usage: 15.8+ KB

In [10]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [11]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [17]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.76 s, sys: 550 ms, total: 7.31 s
Wall time: 12.3 s

1000

In [18]:
from time import time
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 12.952 second
inserted another chunk, took 13.145 second
inserted another chunk, took 13.052 second
inserted another chunk, took 12.255 second
inserted another chunk, took 11.888 second
inserted another chunk, took 11.581 second

/tmp/ipykernel_13425/2112626646.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk, took 12.369 second
inserted another chunk, took 11.992 second
inserted another chunk, took 11.622 second
inserted another chunk, took 11.291 second
inserted another chunk, took 11.535 second

/tmp/ipykernel_13425/2112626646.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.396 second
inserted another chunk, took 7.955 second

StopIteration: